*
{
	margin: 0;
	padding: 0;
}

header
{
	background-image: url(BG.jpg);
	height: 5vh;
	background-size: cover;
	background-position: center;	
}

body
{
	background-image: url(BG.jpg);
	height: 80vh;
	background-size: cover;
	background-position: center;
}

.leftcolumn {   
    float: left;
    width: 75%;
}

.middlecolumn {
	margin: auto;
    width: 60%;
    padding: 10px;
}

.rightcolumn {
    float: left;
    width: 20%;
    padding-left: 0px;
    padding-top: 50px;
}

.fakeimg {
    background-color: #303030;
    color: #e5e5e5;
    width: 100%;
    padding: 20px;    
    border-radius: 10px;
}

.card {
    padding: 20px;
    margin-top: 20px;
}

.row:after {
    content: "";
    clear: both;
}

.main-navy
{
	float: right;
	list-style: none;
	margin-top: 30px;
}

.main-nav li 
{
	display: line-block;
}

.main-nav li a 
{
	color: white;
	text-decoration: none;
	padding; 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
}

.centerText
{
	color: white;
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 30px;
}

.centerTextNote
{
	color: rgb(226, 226, 226);
	text-align: center;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
}

.button
{
	background-color: #d1d1d1; 
	outline-color: #c4c4c4;
	border-radius: 8px;
 
    color: #303030;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    float: left;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
    top: 10%;
}

.button:hover 
{
	background-color: #8e8e8e;
	color: eaeaea;	
}

.wrapper {
	margin: 
}

.center 
{ 
	margin: 0 auto;
   	display: block;
   	width: 560px;
   	vertical-align:text-bottom;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
