* {
    box-sizing: border-box;
}


body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;   
}

.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 8px -16px;
}

.row,
.row > .column {
    padding: 8px;
    padding-top: 0px;
}

.column {
    float: left;
    width: 50%;
}

.altColumn {
    float: left;
    width: 25%;
}

.ExtendedColumn {
    float: left;
    width: 100%;
}

.row.after {
    content: "";
    display: table;
    clear: both;
}

.content {
    background-color: white;
    padding: 10px;
    width: 100%;
}

@media screen and (max-width: 900px) {
    .column{
        width: 50%;
    }   
}

@media only screen and (max-width: 600px) {
    .column {
        width: 100%;
    }    
    
   
    
}

#navbar {
    overflow: hidden;
    background-color: #333;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.ProjectText {
    width: 60%;
    padding-top: 5px;
    padding-right: 2%;
    line-height: 25px;
    float: left;
}

.ProjectOutcomes {
    width: 40%;
    padding-top: 5px;
    padding-left: 2%;
    line-height: 25px;
    float: left;
}

.ProjectsImage {    
    width: 55%;
    margin-right: 2%;
    margin-top: 0px;
    float: left;
}

.ProjectsParagraph {
    width: 42%;
    margin-top: 10px;
    float: left;
}

.clearFix {
    clear: both;
}

.CVBtn {
    width: 25%;
}

.BigByteTitle {
    width: 60%;
    float: left;
}

.BigByteBtn {
    width: 20%;
    float: right;    
    padding-bottom: 10px;
}

.PortfolioImages {
    border-radius: 10px;
}

.UnityRow {
    float: left;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.UnityText {
    float: left;
    color: white;
    padding-top: 5px;
    padding-left: 10px;
    width: 50%;
}

.UnityVideo {
    float: right;
    padding: 10px;
    width: 50%;
    height: 100%;
    border-radius: 10px;
    display: inline-block;
}

.RowRed {
    background-color: #CD5C5C;
}

.RowBlue {
    background-color: #E48673;
}

.RowOrange {
    background-color: #E49973;
}

.MainFooter {
    opacity: 0.5;
    color: white;
    width: 100%;
    float: left;
    background-color: dimgray;
    margin: 2% 0;
}

.MainFooter p {
    width: 92%;
    margin-left: 3.5%;
}

.MainFooter a {
    color: black;
    float: right;
}

.MainFooter strong {
    color: black;
    text-align: left;
}

ul {
    padding: 0;
    list-style-type:square;
}
